@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
}

/* Tambahkan ini untuk memastikan Tailwind v4 mendukung selector .dark */
@custom-variant dark (&:where(.dark, .dark *));

/* Tambahkan warna background default agar saat loading tidak putih polos */
:root {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #0f172a;
  color: #ffffff;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border:4px solid #0000;
  border-radius: 50%;
  border-color:#E4E4ED #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:2px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#766DF4 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}